<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lsddevinet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Devinet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ParametreActivity"
            android:label="PARAMETRES"></activity>
        <activity
            android:name=".activity.AProposActivity"
            android:label="A PROPOS" />
        <activity
            android:name=".activity.SelectionNiveauActivity"
            android:label="SELECTION NIVEAU" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DetailResultatActivity" />
        <activity android:name=".activity.DevinerMotActivity" />
        <activity android:name=".activity.MesResultatsActivity" />

    </application>

</manifest>